*{
    font-family:'poppins' , 'sans serif';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
@import url("C:\Users\K i n G\Desktop\new tamblet full\newtamblet\Poppins.zip");
header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 9;
    background-color: #f0f0f0;
    width: 100%;
    align-items: center;
    padding: 10px 200px;
}
header a{
    text-decoration: none;
    font-weight: 700;
    font-size: 1.8em;
    color: #000;
    &:hover{
        color: rgb(138, 16, 238); 
        transition: 1s;  
    }
}
.navbar{
display: flex;
gap: 50px;
position: relative;

}
.navbar a{
    text-decoration: none;
    font-weight: 700;
    font-size: 1.8em;
    color: #f0f0f0;
    
    &:hover{
        color: chocolate;
        transition: 1s;  
      }
}
 /* .main{
    background-image: url(/newtamblet/images/);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
 } 
.main{
    height: 100vh;
} */
.list-bar{
    color: #000;
   
   font-size: 1.8em;
   &:hover{
    color: chocolate;
    width: 40px;
   }

   

}
.bages{
    display: none;
}
.list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    background-color: #000;
    height: 20vh;
    position: absolute;
    bottom: -21vh;
    left: 30vh;
    gap: 20px;
    border:0;
    transition: 2s;
    
     a{
        border-bottom:1px solid white;
        padding: 3.5px;

    }
}
.list-actev{
    left: 0vh;
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  
  .container {
    position: relative;
    height: 100%;
    width: 100% !important;
  }
  
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;

  }
  
  .images {
    width: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
  }
  
  .images img {
    
    width: calc(33.33% - 10px);
    height: auto;
  }
  